# dependencies
node_modules
pnpm-lock.yaml
yarn.lock

# production
/dist

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor
.vscode
.DS_Store

# env (keep the example)
.env
.env.*
!.env.example
.vercel
tsconfig.tsbuildinfo
